:concurrency: 5
:queues:
  - [mailers, 4]
  - [vote_reminder, 2]
  - [reminders, 2]
  - [default, 2]
  - [newsletter, 2]
  - [newsletters_opt_in, 2]
  - [conference_diplomas, 2]
  - [events, 2]
  - [translations, 2]
  - [user_report, 2]
  - [block_user, 2]
  - [metrics, 1]
  - [exports, 1]

:schedule:
  CalculateAllMetrics:
    cron: '0 0 0 * * *' # Run at midnight
    class: CalculateAllMetricsJob
    queue: metrics
  PreloadOpenData:
    cron: '0 0 1 * * *' # Run at 01:00
    class: PreloadOpenDataJob
    queue: exports
